apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: trial
  name: trial
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: trial
status:
  loadBalancer: {}
